.section h2{
    text-align: start;
    margin-top: 2rem;
    font-size: 1.6rem;
    margin-left: 20px;
}
.recipe-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}
.load-more{
    display: block;
    margin: 1rem auto;
    padding: 0.8rem 1.5rem;
    background: #ff8a00;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}