body{

  background: #f5f5f5;
  color: #333;
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease,
              color 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: white;
}

body{
  background: #1e1e1e;
  color: #fff;
}